body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
section{
    height: 500px;
    width: 100%;
}
.top-banner{
    height: 600px;
    background-image: url("images/donation13.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-banner-title{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.donate-now-btn{
    text-decoration: none;
    font-size: 15px;
    background-color: #e65054;
    width: 150px;
    padding: 10px 5px;
    border-color: #e65054;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    margin: 0;
}

footer{
    background-color: black;
    height: 100px;
    padding: 20px;

}
footer h5{
    padding: 0;
    font-family: cursive;
    text-align: center;
    color: rgb(214, 13, 97);
    font-size: 20px;
}
footer p{
    color: white;
    padding: 0;
    text-align: center;
    font-size: 15px;
}