body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
section{
    height: 650px;
}
p{
    color: gray;
    font-family: sans-serif;
    font-size: 18px;
}
#banner-para{
    color: white;
}
.top-banner{
    height: 600px;
    background-image: url("images/donation13.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-banner-title{
    padding-top: 150px;
    text-align: center;
    color: white;
}
.donate-now-btn{
    text-decoration: none;
    font-size: 15px;
    background-color: #db2b31;
    width: 150px;
    padding: 10px 5px;
    border-color: #e65054;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    margin: 0;
}

.description{
    padding-top: 100px;
    text-align: center;
}

.amount{
    margin-top: 30px;
    margin-left: 8%;
    display: inline-block;
    width: 10%;
    height: 80px;
    background: rgb(226, 226, 226);
    text-align: center;
    border-radius: 5px;
}
#selected-amount{
    color: #e65054;
    background-color: #e6d4d4;
    border: 2px solid;
    border-color: #e65054;
}

.write-amount{
    padding-top: 20px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.donation-plan{
    text-align: center;
}

.available-plans{
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 5px;
    text-align: left;
    display: inline-block;
    height: 300px;
    width: 25%;
}
#food{
    background-color: rgb(231, 243, 239);
}
#shelter{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #f1e3e4;
}
#child-education{
    background-color: rgb(255, 255, 213);
}

.photo-album{
    height: 500px;
    text-align: center;
}
.photos{
    padding: 40px;
    display: inline-block;
    text-align: left;
}

footer{
    background-color: black;
    height: 100px;
    padding: 20px;
}
footer h5{
    padding: 0;
    font-family: cursive;
    text-align: center;
    color: #e65054;
    font-size: 20px;
}
footer p{
    color: white;
    padding: 0;
    text-align: center;
    font-size: 15px;
}